<div class="card">
  <div class="card-header">
    <h2 class="card-title text-center" style="color: blueviolet">Categorías</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td class="d-flex gap-2 justify-content-start">
            <a
              class="btn btn-primary"
              [routerLink]="['./edit', category.id]"
            >
              Editar
            </a>
            <button
              class="btn btn-danger"
              (click)="onDeleteCategory(category.id)"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex d-flex justify-content-center">
    <a class="btn btn-outline-primary" [routerLink]="['/new-category']">
      Añadir nueva categoría
    </a>
  </div>
</div>
